@import 'queries';

// Wait
.wait-cursor {
	cursor: wait;
	button {
		pointer-events: none !important;
	}
}

// Help
.help {
	cursor: help;

	::selection {
		background: transparent;
	}
}

// Copy
a.copy,
.copy {
	cursor: grab;

	&:active {
		cursor: grabbing;
	}

	::selection {
		background: transparent;
	}
}

// Number
.number-font {
	font-weight: normal;

	&--light {
		font-weight: lighter;
	}
}

// Pointer Cursor
a, .cp, button:not([disabled]) {
	cursor: pointer;
}

// Disabeld
.disabled {
	cursor: not-allowed;
	opacity: .6;
	pointer-events: none;
	user-select: none;
}
.disabled-visible {
	cursor: not-allowed;
	opacity: .6;
}


// Empty data
.no-data-text {
	color: rgba(0, 0, 0, .65);
}
